* {   
    box-sizing: border-box;
}

body {
	background: #ccc;
	font-family: Georgia
    font-size: 20px;
}

div {
    padding: 10px;
}

.navigationLink, .navigationLink:active, .navigationLink:visited {
	text-decoration: none;
	color: #aaa;
    margin: 0px 10px;
}

.navigationLink:hover {
	color: #FF3300;
}

.header {
    width: 100%;
    padding: 20px;
    color: #aaa;
    background-color: #111;
}

.header:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.navigation {
    background-color: #333;
}

.container {
    margin: auto;
    width: 75em;
}

.footer {
    background-color: #111;
    color: #aaa;
}

.footer:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.socialLinks {
    float: right;
}

.phoneEmailLinks {
    float: right;
}

.linkWrapper {
    margin: 0 10px;
}

.socialContactLink, .socialContactLink:active, .socialContactLink:visited {
	text-decoration: none;
	color: #aaa;
}

.socialContactLink:hover {
	color: #FF3300;
}


.socialContactImages {
    width: 50px;
    height: 50px;
}
